<ion-view title="الو دکتر">
	<ion-header-bar class="bar-positive">
		<h1 class="title" style="text-align: center;">الو دکتر ، اینجا همیشه نوبت شماست</h1>
	</ion-header-bar>
	<ion-content>
		<img src="img/logi1.jpg" alt="" style="width:100%;" height="160">
		<ion-list>
			<ion-item href="#/app/notes/2">
				<img src="img/fp1.jpg" alt="" style="width:100%;margin-right:-16px !important;height: 100%;">
			</ion-item>
			<ion-item href="#/app/notes/1">
				<img src="img/fp2.jpg" alt="" style="width:100%;margin-right:-16px !important;height: 100%;">
			</ion-item>
			<ion-item href="#/app/notes/7">
				<img src="img/fp3.jpg" alt="" style="width:100%;margin-right:-16px !important;height: 100%;">
			</ion-item>
			<ion-item href="#/app/notes/8">
				<img src="img/fp4.jpg" alt="" style="width:100%;margin-right:-16px !important;height: 100%;">
			</ion-item>
			<ion-item href="#/app/notes/6">
				<img src="img/fp7.jpg" alt="" style="width:100%;margin-right:-16px !important;height: 100%;">
			</ion-item>
			<ion-item href="#/app/notes/4">
				<img src="img/fp6.jpg" alt="" style="width:100%;margin-right:-16px !important;height: 100%;">
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>