<ion-view view-title="اخبار و مطالب" ng-controller="NotesCtrl as notes">
  <ion-content>
    <div class="list">
      <div ng-repeat="note in notes.Notes">
        <a href="#/app/note/{{note.Id}}" class="item item-thumbnail-right">
          <img ng-src="{{note.Image}}">
          <h2 class="positive" style="height: 20px;">{{note.Name}}</h2><br/>
          <h3 style="height: 20px;">{{note.Description}}</h3>
        </a>
      </div>
    </div>
  </ion-content>
  <div class="bar bar-subfooter row">
    <div class="tabs-striped">
      <div class="tabs">
        <a class="tab-item active footer-notes" href="#/app/notes/{{notes.ClinicId}}">اخبار و مطالب</a>
        <a class="tab-item footer-questions" href="#/app/questions/{{notes.ClinicId}}">سوالات</a>
        <a class="tab-item footer-doctors" href="#/app/doctors/{{notes.ClinicId}}">پزشکان</a>
        <a class="tab-item footer-popularnotes" href="#/app/popularnotes/{{notes.ClinicId}}" style="font-size:12px;">پر بینندهای امروز</a>
      </div>
    </div>
  </div>
  <div class="bar bar-footer auto-height">
    <a href="#/app/demo" class="footer-newsletter">مجله رایگان ما را از دست ندهید</a>
  </div>
</ion-view>