<ion-view ng-controller="NoteCtrl">
    <ion-content class="has-header">
        <h1>{{note.Id}} {{note.Name}}</h1>
    </ion-content>
</ion-view>
<!--<ion-view view-title="{{note.Name}}">
	<ion-content>
	{{note.Id}} {{note.Name}}
		<a href="" onclick="window.open('http://www.alodoctor.ir/mobile/article/8258', '_self');">
      Loads in the Cordova web view
    </a>
		<br/>
<a href="" onclick="window.open('http://www.alodoctor.ir/mobile/article/8258', '_system');">
      Loads in the system browser
    </a><br/>
    <a href="" onclick="window.open('http://www.alodoctor.ir/mobile/article/8258', '_blank','location=no');">
      Loads in the InAppBrowser with no location bar
    </a><br/>
    <a href="" onclick="window.open('http://www.alodoctor.ir/mobile/article/8258', '_blank');">
      Loads in the InAppBrowser
    </a><br/>
	</ion-content>
</ion-view>-->