<ion-view view-title="پر بیننده ترین های امروز" ng-controller="PopularNotesCtrl as popularnotes">
  <ion-content>
    <div class="list" style="direction:rtl;font-size:11px;">
      <div ng-repeat="popularnote in popularnotes.Notes">
        <a href="#/app/note/{{popularnote.Id}}" class="item item-thumbnail-right">
					 <img ng-src="{{popularnote.Image}}">
					<h2 class="positive" style="height: 20px;">{{popularnote.Name}}</h2><br/>
					<h3 style="height: 20px;">{{popularnote.Description}}</h3>
		</a>
      </div>
    </div>
  </ion-content>
    <div class="bar bar-subfooter row">
    <div class="col footer-notes">
      <a href="#/app/notes/{{popularnotes.ClinicId}}">اخبار و مطالب</a>
    </div>
    <div class="col footer-questions">
      <a href="#/app/questions/{{popularnotes.ClinicId}}">سوالات</a>
    </div>
    <div class="col footer-doctors">
      <a href="#/app/doctors/{{popularnotes.ClinicId}}">پزشکان</a>
    </div>
    <div class="col footer-popularnotes">
      <a href="#/app/popularnotes/{{popularnotes.ClinicId}}">پر بینندهای امروز</a>
    </div>
  </div>
  <div class="bar bar-footer auto-height">
    <a href="#/app/demo" class="footer-newsletter">مجله رایگان ما را از دست ندهید</a>
  </div>
</ion-view>