<ion-view view-title="سوالات" ng-controller="QuestionsCtrl as questions">
  <ion-content>
    <div class="list">
      <div ng-repeat="question in questions.Questions">
        <div class="item">
          <h2>
            <a href="#/app/question/{{question.Id}}" class="positive">
                  {{question.SearchTitle}}
                </a>
          </h2>
          <br>
          <h3>
            <a href="#/app/demo" style="color:red;">{{question.Doctor.FullName}} : </a>{{question.Title}}</h3>
        </div>
      </div>
    </div>
  </ion-content>
  <div class="bar bar-subfooter row">
    <div class="tabs-striped">
      <div class="tabs">
        <a class="tab-item footer-notes" href="#/app/notes/{{questions.ClinicId}}">اخبار و مطالب</a>
        <a class="tab-item active footer-questions" href="#/app/questions/{{questions.ClinicId}}">سوالات</a>
        <a class="tab-item footer-doctors" href="#/app/doctors/{{questions.ClinicId}}">پزشکان</a>
        <a class="tab-item footer-popularnotes" href="#/app/popularnotes/{{questions.ClinicId}}">پر بینندهای امروز</a>
      </div>
    </div>
  </div>
  <div class="bar bar-footer auto-height">
    <a href="#/app/demo" class="footer-newsletter">مجله رایگان ما را از دست ندهید</a>
  </div>
</ion-view>
